<h1 class="mb-1 record-show-title d-flex justify-content-center">修改支出</h1>
<div class="container">
  <form action="/records/{{record._id}}/?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="category" class="form-label" maxlength="20">類別<span class="text-danger">*</span></label>
      {{!-- <input type="text" class="form-control" id="category" placeholder="category" list="categoryOptions" name="category"
        maxlength="20" value="{{ record.categoryId.categoryName }}" required /> --}}
      <select name="category" id="categoryOptions" class="form-control" value="{{ record.categoryId.categoryName }}" >
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">項目<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="name" name="name" mexlength="20" value="{{ record.name }}" required>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" placeholder="2023-05-01" name="date" mexlength="10" value="{{ record.date }}" required>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">金額<span class="text-danger">*</span></label>
      <input type="number" class="form-control" id="amout" placeholder="2000" name="amount" mexlength="20" value="{{ record.amount }}" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        修改支出
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      {{! 使用type="reset" 可以清除/還原輸入 }}
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
    </div>
  </form>
</div>